<mat-card>
  <form (submit)="onSubmit(signupForm)" #signupForm="ngForm">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input
        type="text"
        matInput
        name="name"
        required
        #name="ngModel"
        ngModel
      />
      <mat-error *ngIf="name.invalid">Enter a Name</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        name="email"
        required
        email
        #email="ngModel"
        ngModel
      />
      <mat-error *ngIf="email.invalid">Enter a Email</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input
        type="password"
        matInput
        name="password"
        required
        #password="ngModel"
        ngModel
      />
      <mat-error *ngIf="password.invalid">Enter Passwrod</mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="secondary">Sign Up</button>
    <p class="other-option">
      Already have an account?
      <a mat-raised-button routerLink="/login" color="accent">Login</a>
    </p>
  </form>
</mat-card>
